@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin shadowbot {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

@mixin objectfitcover {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@mixin sitefont {
  font-family: "Poppins", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

@mixin bluegradient {
  background: $gray;
  background: linear-gradient(
    to right,
    rgba($gray, 1) 0%,
    rgba($gray, 0) 100%
  );
}


//mixins for devices responsive
@mixin minMax($min, $max){
  @media (min-width:$min) and (max-width:$max){
    @content;
  }
};

@mixin min($min){
  @media (min-width:$min){
    @content;
  }
};

@mixin max($max) {
  @media (max-width:$max){
    @content;
  }
};

