@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6j4t1');
  src:  url('../fonts/icomoon.eot?6j4t1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6j4t1') format('truetype'),
    url('../fonts/icomoon.woff?6j4t1') format('woff'),
    url('../fonts/icomoon.svg?6j4t1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-battery:before {
  content: "\e900";
}
.icon-bus:before {
  content: "\e901";
}
.icon-busengine:before {
  content: "\e902";
}
.icon-busparts:before {
  content: "\e903";
}
.icon-charging:before {
  content: "\e904";
}
.icon-chassis:before {
  content: "\e905";
}
.icon-downarrow:before {
  content: "\e906";
}
.icon-downarrow2:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-imporove:before {
  content: "\e909";
}
.icon-internet:before {
  content: "\e90a";
}
.icon-left:before {
  content: "\e90b";
}
.icon-leftchervon:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-measure:before {
  content: "\e90e";
}
.icon-pin:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-remote:before {
  content: "\e911";
}
.icon-right:before {
  content: "\e912";
}
.icon-rightchervon:before {
  content: "\e913";
}
.icon-send:before {
  content: "\e914";
}
.icon-spareparts:before {
  content: "\e915";
}
.icon-telephone:before {
  content: "\e916";
}
.icon-trackingbus:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
