@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.fthin, .homeSlider .swiper-container .swiper-slide article h2 {
  font-weight: 100;
}

.flight {
  font-weight: 300;
}

.fsbold, .sectionTitle h6, .bgSection h5 {
  font-weight: 600;
}

.fbold, .sectionTitle h3, .sectionTitle h1, .homeVehicles .swiper-slide article h4, footer .topfooter .footernav .footerlinkActive, .subpage .subpageBody .highletecol h2, .subpage .subpageBody .subTitle, .bgSection h6 {
  font-weight: 700;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.redbtn {
  background: #EB2227;
  color: #fff;
}

.redbtn:hover {
  background: #c81217;
  color: #fff;
}

.fixedtheme {
  background: #1d1d1d;
  padding: 5px 0;
}

.fixedtheme .navbar-brand img {
  width: 65px !important;
}

p {
  line-height: 28px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.strokeFont {
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b3b3b3;
  font-size: 150px;
  display: none;
}

@media (min-width: 1200px) {
  .strokeFont {
    display: block;
  }
}

@media (max-width: 992px) {
  header .active {
    padding: 5px 0;
    display: block;
    text-decoration: none;
  }
}

@media (max-width: 992px) {
  header .navbar-mobile .getintouch.btn {
    padding: 0;
    text-align: left;
  }
}

header {
  background: rgba(29, 29, 29, 0.7);
  border-bottom: 1px solid #9d9d9d;
  padding: 15px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }
}

header .bsnav {
  background: none;
}

header .bsnav .navbar-brand img {
  width: 85px;
}

@media (max-width: 768px) {
  header .bsnav .navbar-brand img {
    width: 50px;
  }
}

header .bsnav .navbar-nav .nav-item {
  color: #fff;
}

header .bsnav .navbar-nav .nav-item .active {
  color: #fff;
  padding: 20px 15px;
  display: block;
  text-decoration: none;
  position: relative;
}

header .bsnav .navbar-nav .nav-item .active:before {
  content: '';
  width: 25px;
  height: 4px;
  background: #FFCB0A;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (max-width: 768px) {
  header .bsnav .navbar-nav .nav-item .active {
    color: #1d1d1d;
  }
}

header .bsnav .navbar-nav .nav-item .nav-link:hover {
  color: #FFCB0A;
}

@media (max-width: 992px) {
  header .bsnav .navbar-nav .nav-item .nav-link {
    width: 100%;
    display: block;
  }
}

header .bsnav .navbar-nav .nav-item .caret {
  border-top: solid 5px #fff;
}

header .bsnav .navbar-nav .dropdown .navbar-nav {
  background: #1d1d1d;
}

header .bsnav .navbar-nav .dropdown .navbar-nav .nav-item .nav-link {
  color: #fff;
}

header .bsnav .navbar-nav .dropdown .navbar-nav .nav-item .nav-link:hover {
  color: #FFCB0A;
}

header .bsnav .navbar-nav .phnumber h3 {
  font-size: 18px;
}

header .bsnav .navbar-nav .phnumber .icomoon {
  font-size: 45px;
  color: #FFCB0A;
  margin-right: 10px;
}

header .bsnav .navbar-nav .getintouch {
  border-radius: 0;
  background: #FFCB0A;
  color: #000;
  margin-left: 25px;
  border: 1px solid transparent;
}

header .bsnav .navbar-nav .getintouch a {
  margin: 0;
  padding: 0;
  line-height: 35px;
}

header .bsnav .navbar-nav .getintouch:hover {
  background: #1d1d1d;
  border: 1px solid #FFCB0A;
}

header .bsnav .navbar-nav .getintouch:hover a {
  color: #FFCB0A;
}

.sectionMargin {
  margin: 50px 0;
}

.sectionTitle h3, .sectionTitle h1 {
  font-size: clamp(1.2rem 2vw 2rem);
  letter-spacing: -2px;
}

.sectionTitle p {
  position: relative;
  z-index: 25;
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.sectionTitle p:before {
  content: '';
  width: 35px;
  height: 35px;
  background: #FFCB0A;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: -9;
}

.sectionTitle h6 {
  font-size: clamp(1rem 1.7vw 1.7rem);
  color: #1d1d1d;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.homeSlider {
  height: 100vh;
  width: 100%;
}

.homeSlider .swiper-container {
  width: 100%;
  height: 100vh;
}

.homeSlider .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  background: none;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.homeSlider .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #FFCB0A;
  border: 1px solid transparent;
}

.homeSlider .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
}

.homeSlider .swiper-container .swiper-slide:before {
  content: '';
  width: 60%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #1d1d1d;
  background: -webkit-gradient(linear, left top, right top, from(#1d1d1d), to(rgba(29, 29, 29, 0)));
  background: linear-gradient(to right, #1d1d1d 0%, rgba(29, 29, 29, 0) 100%);
}

@media (max-width: 768px) {
  .homeSlider .swiper-container .swiper-slide:before {
    width: 100%;
  }
}

.homeSlider .swiper-container .swiper-slide article {
  width: 45%;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .homeSlider .swiper-container .swiper-slide article {
    width: 100%;
  }
}

.homeSlider .swiper-container .swiper-slide article h2 {
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  color: #fff;
}

.homeSlider .swiper-container .swiper-slide article h2 span {
  color: #FFCB0A;
}

.homeSlider .swiper-container .swiper-slide article p {
  color: #fff;
}

.homeSlider .swiper-container .swiper-slide article .btn {
  border: 1px solid #FFCB0A;
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-radius: 0;
}

.homeSlider .swiper-container .swiper-slide article .btn:hover {
  background: #FFCB0A;
  border: 1px solid transparent;
  color: #000;
}

.homeVehicles {
  position: relative;
}

.homeVehicles .swiper-slide {
  position: relative;
}

.homeVehicles .swiper-slide img {
  position: relative;
  z-index: 0;
}

.homeVehicles .swiper-slide article {
  background: rgba(29, 29, 29, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.homeVehicles .swiper-slide article:hover {
  background: transparent;
}

.homeVehicles .swiper-slide article:hover h4 {
  display: none;
}

.homeVehicles .swiper-slide article:hover .vehicleDescParent {
  opacity: 1;
}

.homeVehicles .swiper-slide article h4 {
  font-size: clamp(1rem, 1.6rem, 1.6vw);
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  z-index: 99;
}

.homeVehicles .swiper-slide article .vehicleDescParent {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.homeVehicles .swiper-slide article .vehicleDescParent .vehicleDesc {
  background: #fff;
  padding: 15px;
  width: 80%;
}

.homeVehicles .swiper-slide article .vehicleDescParent .vehicleDesc h5 {
  position: relative;
}

.homeVehicles .swiper-slide article .vehicleDescParent .vehicleDesc h5:before {
  content: '';
  width: 55px;
  height: 2px;
  background: #FFCB0A;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.homeVehicles .swiper-slide article .vehicleDescParent .vehicleDesc p {
  padding-top: 20px;
}

.homeVehicles .swiper-slide article .vehicleDescParent .descLink {
  display: block;
  width: 15%;
  height: 45px;
  background: #FFCB0A;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeVehicles .swiper-slide article .vehicleDescParent .descLink .icomoon {
  font-size: 20px;
  color: #000;
}

.homeVehicles .swiper-button-next, .homeVehicles .swiper-button-prev {
  position: absolute;
  top: 22px;
  background: #FFCB0A;
  width: 50px;
  height: 50px;
}

.homeVehicles .swiper-button-next:after, .homeVehicles .swiper-button-prev:after {
  font-size: 18px;
  color: #000;
}

.homeVehicles .swiper-button-next {
  right: 0;
}

.homeVehicles .swiper-button-prev {
  right: 55px;
  left: inherit;
}

.homeAbout {
  background: #f0e5ed url(../img/homeaboutbg.png) repeat-x 0 0;
  padding-top: 210px;
  padding-bottom: 40px;
}

.homeAbout .strokeFont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.cardCol {
  background: #c3c3c3;
  min-height: 200px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.cardCol .icon {
  width: 125px;
  height: 125px;
  background: #1d1d1d;
  border-right: 2px solid #FFCB0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cardCol .icon .icomoon {
  font-size: 60px;
  color: #fff;
}

footer {
  background: #cacaca;
  padding-top: 20px;
  position: relative;
}

footer .topfooter .footerbrand img {
  width: 80px;
}

footer .topfooter .footernav a.footerLink {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  display: inline-block;
}

footer .topfooter .footernav a.footerLink:hover {
  color: #1d1d1d;
}

footer .topfooter .footernav a.footerLink .icomoon {
  font-size: 20px;
}

footer .topfooter .footernav .footerlinkActive {
  color: #1d1d1d;
  text-decoration: none;
  padding: 0 10px;
}

footer .bottomFooter {
  background: #1d1d1d;
  padding: 10px 0;
}

footer .bottomFooter p {
  padding: 0;
  margin: 0;
  color: #fff;
}

footer .movetop {
  width: 45px;
  height: 45px;
  background: #fff;
  color: #1d1d1d;
  bottom: 45px;
  right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: fixed;
  border: 1px solid transparent;
  padding: 12px;
  display: none;
  z-index: 9999;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  text-decoration: none;
}

footer .movetop:hover {
  background-color: #FFCB0A;
  color: #000;
  text-decoration: none;
}

footer .movetop:hover .icomoon {
  color: #fff;
}

.subpage {
  min-height: 500px;
  background: url(../img/subpageheaderbg.jpg) no-repeat 0 0;
  background-size: 100% 300px;
  padding-top: 240px;
}

@media (max-width: 768px) {
  .subpage {
    background-size: contain;
    padding-top: 70px;
  }
}

.subpage .subpageHeader .titleSection {
  background: #1d1d1d;
  padding: 15px 25px;
  color: #fff;
}

.subpage .subpageHeader .nav .nav-item {
  position: relative;
}

.subpage .subpageHeader .nav .nav-item:before {
  content: '\e912';
  font-size: 11px;
  color: #fff;
  position: absolute;
  top: 9px;
  left: -6px;
  font-family: 'icomoon' !important;
}

.subpage .subpageHeader .nav .nav-item:first-child:before {
  content: '';
}

.subpage .subpageHeader .nav .nav-item:last-child .nav-link {
  color: #FFCB0A;
}

.subpage .subpageHeader .nav .nav-item .nav-link {
  color: #fff;
}

.subpage .subpageBody {
  min-height: 500px;
  padding-top: 50px;
}

.subpage .subpageBody p {
  color: #333333;
}

.subpage .subpageBody .highletecol {
  background: #cacaca;
  padding: 100px 50px;
}

@media (max-width: 992px) {
  .subpage .subpageBody .highletecol {
    padding: 25px;
  }
}

.subpage .subpageBody .highletecol h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  color: #1d1d1d;
}

.subpage .subpageBody .subTitle {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.subpage .subpageBody .listItems li {
  color: #333333;
  position: relative;
  padding-left: 22px;
  padding-bottom: 12px;
}

.subpage .subpageBody .listItems li:before {
  content: "\e901";
  font-family: 'icomoon' !important;
  font-size: 15px;
  color: #EB2227;
  position: absolute;
  left: 0;
}

.bgSection {
  background-size: cover;
  padding: 125px 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bgSection h6 {
  color: #FFCB0A;
  font-size: 15px;
}

.bgSection h5 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: #fff;
  line-height: 46px;
}

.coreActivities {
  background-image: url(../img/coreactivitiesbg.jpg);
}

.servicesbg {
  background-image: url(../img/servicesbg.jpg);
}

.customAccordion .accordion-button:not(.collapsed) {
  background: #1d1d1d !important;
  color: #fff;
}

.customAccordion .accordion-item {
  border: none;
  margin-bottom: 10px;
}

.customAccordion .accordion-item .accordion-button {
  background: #cacaca;
}

.specicon .icomoon {
  font-size: 105px;
}

.specrow {
  margin-top: 50px;
}

form .form-floating {
  margin-bottom: 35px;
}

form .form-control {
  border-radius: 0;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("") no-repeat center center rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#load img {
  width: 50px;
}

.addressrow {
  padding: 25px 0;
}
/*# sourceMappingURL=style.css.map */