@import 'variable';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');


body{
    @include sitefont;
}

a{
    text-decoration: none;
}

.fthin{
    font-weight:100;
}

.flight {
  font-weight: 300;
}

.fsbold {
  font-weight: 600; 
}

.fbold {
  font-weight: 700; 
}

.customContainer{
    width:90%;
    margin:0 auto;
}

.btn{
    border-radius:0;
    padding-left:20px;
    padding-right:20px;
}
.redbtn{
    background:$red;
    color:$white;
    

    &:hover{
        background:darken($red, 10%);
        color:$white;
    }
}

.fixedtheme{
    background:rgba($gray, 1);
     padding:5px 0;

    .navbar-brand{
        img{
            width:65px!important;  
        }
    }
}

p{
    line-height:28px;
}

ul,li{
    list-style: none;
    margin:0;
    padding:0;
}

.strokeFont{
   color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:lighten($black, 70%);
  font-size:$fsize * 10;
  display:none;

  @include min($xl){
      display:block;
  }  
}

header{
    .active{
         @include max($lg){
            padding:5px 0;
            display:block;
            text-decoration: none;
        }
    }
    .navbar-mobile{
        @include max($lg){
            .getintouch.btn{
            padding:0;
            text-align:left;
        }
        }
    }
}

header{
    // background:rgba($gray, 0.7);
    background:rgba($gray, 0.7);
    border-bottom:1px solid lighten($gray, 50%);
    padding:15px 0;
    @include transition;

    @include max($md){
        padding:5px 0;
    }
    .bsnav{
        background:none;
        .navbar-brand{
            img{
              width:85px;  

              @include max($md){
                  width:50px;
              }
            }
        }
        .navbar-nav{
            .nav-item{
                color:$white;

                .active{
                    color:$white;
                    padding:20px 15px;
                    display: block;
                    text-decoration: none;
                    position:relative;                   

                    &:before{
                        content:'';
                        width:25px;
                        height:4px;
                        background:$yellow;
                        position:absolute;
                        top:15px;
                        left:15px;
                    }  
                    
                    @include max($md){
                        color:$gray;
                    }
                }    
                
                .nav-link{
                    &:hover{
                        color:$yellow;
                    }

                    @include max($lg){
                        width:100%;
                        display:block;
                    }                    
                }
               

                .caret{
                    border-top:solid 5px $white;
                }
            }
            .dropdown{
                .navbar-nav{
                    background:$gray;
                    .nav-item{
                        .nav-link{
                            color:$white;
                            &:hover{
                                color:$yellow;
                            }
                        }
                    }
                }
            }
            .phnumber{
                h3{                   
                    font-size:18px;
                }
                .icomoon{
                    font-size:$fsize * 3;
                    color:$yellow;  
                    margin-right:10px;                  
                }
            }
            .getintouch{
                border-radius:0;
                background:$yellow;
                color:$black;
                margin-left:25px;
                border:1px solid transparent;

                a{
                    margin:0;
                    padding:0;
                    line-height:35px;
                }

                &:hover{
                    background:$gray;
                    border:1px solid $yellow;
                    a{
                         color:$yellow;
                    }
                }
            }
        }
    }
}

.sectionMargin{
    margin:50px 0;
}

.sectionTitle{
    h3, h1{
        font-size:clamp(1.2rem 2vw 2rem);
        @extend .fbold;
        letter-spacing: -2px;
    }
    p{       
        position:relative;
        z-index:25;
        padding-left:10px;
        padding-bottom:0;
        margin-bottom:10px;

        &:before{
            content:'';
            width:35px;
            height:35px;
            background:$yellow;
            position:absolute;
            top:-4px;
            left:0;
            z-index:-9;
        }
    }
    h6{
        font-size:clamp(1rem 1.7vw 1.7rem);
        @extend .fsbold;
        color:$gray;
    }
}

.navbar-toggler:focus{
    box-shadow: none;
}


.homeSlider{
    height:100vh;
    width:100%;
    .swiper-container {
        width: 100%;
        height: 100vh;

        .swiper-pagination-bullets{  
            .swiper-pagination-bullet{
                background:none;
                border:1px solid $white;
                width:12px;
                height:12px;
                opacity:1;
            }
            .swiper-pagination-bullet-active{
                background:$yellow;
                border:1px solid transparent;
            }
        }

        .swiper-slide {
        background-position: center;
        background-size: cover;
        height:100vh;
        width:100%;
        position:relative;
        @include verticalcenter;
        align-items: flex-start;
        padding-left:5%;

        &:before{
            content:'';
            width:60%;
            height:100vh;
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            @include bluegradient;     
            
            @include max($md){
                width:100%;
            }
          }

            article{
              width:45%;
              position:relative;
              z-index:10;

            @include max($md){
                width:100%;
            }

            h2{
              font-size:clamp(1.2rem, 2.5vw, 2.5rem );
              @extend .fthin;
              color:$white;

              span{
                  color:$yellow;
              }
            } 
            p{
                color:$white;
            }
            .btn{
                border:1px solid $yellow;
                color:$white;
                @include transition;
                border-radius:0;

                &:hover{
                    background:$yellow;
                    border:1px solid transparent;
                    color:$black;                    
                }
             }
          }          
       }
    }     
}

.homeVehicles{   
    position:relative;
    .swiper-slide{      
       position:relative;

       img{
           position:relative;
           z-index:0;
       }

       article{
           background:rgba($gray, 0.8);
           position:absolute;                    
           bottom:0;
           left:0;
           right:0;
           top:0;
           z-index:99;
           height:100%;
           width:100%;          
           @include transition;  

           &:hover{
               background:transparent;

               h4{
                   display:none;
               }
               .vehicleDescParent{
                    opacity:1;
               }
           }
           h4{
               font-size:clamp(1rem, 1.6rem, 1.6vw);
               color:$white;
               text-transform: uppercase;
               @extend .fbold;
               position:absolute;
               bottom:50px;
               z-index:99;
           }
           .vehicleDescParent{
                @include transition;
                opacity:0;
                position:absolute;
                bottom:0;

            .vehicleDesc{
               background:$white;
               padding:15px;
               width:80%; 

               h5{
                   position:relative;
                   &:before{
                      content:'';
                      width:55px;
                      height:2px;
                      background:$yellow;
                      position:absolute;
                      bottom:-10px;
                      left:0;
                   }
               }

               p{
                   padding-top:20px;
               }
           }
           .descLink{
               display:block;
               width:15%;
               height:45px;
               background:$yellow;
               text-decoration: none;
               @include verticalcenter;

               .icomoon{
                   font-size:$fsize * 1 + 5;
                   color:$black;
               }
             }
           }           
       } 
    }
    .swiper-button-next, .swiper-button-prev{
        position:absolute;
        top:22px;
        background:$yellow;
        width:50px;
        height:50px;

        &:after{
            font-size:18px;
            color:$black;
        }
        
    }
     .swiper-button-next{
         right:0;
     }
     .swiper-button-prev{
         right:55px;
         left:inherit;
     }
}

.homeAbout{
    background:#f0e5ed url(../img/homeaboutbg.png)repeat-x 0 0;
    padding-top:210px;
    padding-bottom:40px;
    .strokeFont{
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        opacity:0.4;
    }
}

.cardCol{
    background:lighten($gray, 65%);
    min-height:200px;
    @include shadowbot;

    .icon{
        width:125px;
        height:125px;
        background:$gray;
        border-right:2px solid $yellow;
        @include verticalcenter;
        text-align: center;

        .icomoon{
            font-size:$fsize * 4;
            color:$white;
        }
    }
}

footer{
   background:lighten($gray, 68%);
   padding-top:20px;  
   position:relative;

   .topfooter{
       .footerbrand{
           img{
               width:80px;
           }
       }
       .footernav{
           a.footerLink{
               text-decoration: none;
               color:$black;
               padding:0 10px;
               display:inline-block;

               &:hover{
                   color:$gray;
               }

               .icomoon{
                   font-size:$fsize + 5;
               }
           }
           .footerlinkActive{
               color:$gray;
               text-decoration: none;
               padding:0 10px;
               @extend .fbold;
           }
        }       
    }
    .bottomFooter{
       background:$gray;
       padding:10px 0;

       p{
           padding:0;
           margin:0;
           color:$white;
       }
    }

    .movetop {
        width: 45px;
        height: 45px;
        background: $white;
        color: $gray;
        bottom: 45px;
        right: 10px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        position: fixed;
        border: 1px solid transparent;
        padding: 12px;
        display:none;
        z-index: 9999;
        transform: rotate(180deg);

        @include shadowbot;
        text-decoration: none;

        &:hover {
            background-color: $yellow;
            color: $black;
            text-decoration: none;

            .icomoon {
                color: $white;
            }
        }        
    }
}

.subpage{
    min-height:500px;
      background:url(../img/subpageheaderbg.jpg)no-repeat 0 0;        
      background-size: 100% 300px;
      padding-top:240px;  

      @include max($md){
          background-size: contain; 
          padding-top:70px;
      }
    //subpage header
     .subpageHeader{  
        .titleSection{
            background:$gray;
            padding:15px 25px;
            color:$white;            
        }
        .nav{
            .nav-item{
                position:relative;

                &:before{
                    content:'\e912';
                    font-size:$fsize - 4;
                    color:$white;
                    position:absolute;
                    top:9px;
                    left:-6px;
                    font-family: 'icomoon' !important;
                }

                &:first-child{
                    &:before{
                        content:'';
                    }
                }
                &:last-child{
                    .nav-link{
                        color:$yellow;
                    }
                }

                .nav-link{
                    color:$white;
                }
            }
        }
    }
    //subpage body 
    .subpageBody{
        min-height:500px;
        padding-top:50px;

        p{
            color:lighten($black, 20%);
        }

        .highletecol{
            background:lighten($gray, 68%);
            padding:100px 50px;

            @include max($lg){
                padding:25px;
            }

            h2{
                font-size:clamp(2rem, 4vw, 4rem);
                @extend .fbold;
                color:$gray;
            }
        }
        .subTitle{
            font-size:clamp(1rem, 1.2vw, 1.2rem);
            @extend .fbold;
        }
        .listItems{
            li{
                 color:lighten($black, 20%);
                 position:relative;
                 padding-left:22px;
                 padding-bottom:12px;

                 &:before{
                     content: "\e901";
                     font-family: 'icomoon' !important;
                     font-size:$fsize;
                     color:$red;
                     position:absolute;
                     left:0;
                 }
            }
        }
    }
}

.bgSection{
    background-size:cover;
    padding:125px 0;
    background-repeat: no-repeat;
    background-position: 0 0;

    h6{
        color:$yellow;
        font-size:15px;
        @extend .fbold;
    }
    h5{
        font-size:clamp(1.2rem, 2vw, 2rem);
        color:$white;
        @extend .fsbold;
        line-height:46px;
    }
}

.coreActivities{
    background-image: url(../img/coreactivitiesbg.jpg);
}
.servicesbg{
    background-image: url(../img/servicesbg.jpg);
}

.customAccordion{
    .accordion-button:not(.collapsed){
        background:$gray!important;
        color:$white;
    }
    .accordion-item{
        border:none;
        margin-bottom:10px;
       .accordion-button{
            background:lighten($gray, 68%);   
       }
    }
}

.specicon{
    .icomoon{
        font-size:$fsize * 7;
    }
}

.specrow{
    margin-top:50px;
}

form{
    .form-floating{
        margin-bottom:35px;
    }
    .form-control{
        border-radius:0;
    }
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("") no-repeat center center rgba(0,0,0,0.8);
    @include verticalcenter;

    img{
        width:50px;
    }
}

.addressrow{
    padding:25px 0;
}